/*color pallet
white

*/

/* font links */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Shade&family=Fredericka+the+Great&family=Macondo&family=Racing+Sans+One&family=Rakkas&family=Rancho&family=Spinnaker&family=Viga&family=Yatra+One&display=swap');


.name{
  font-size: 10rem;
  text-align: center;
  font-family: 'Racing Sans One', cursive;
  background-image: linear-gradient(to bottom right, rgb(6, 142, 239), rgb(20, 233, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-break: auto;
}
.backlink{
  position: sticky;
  display: inline;
  top: 0;
  background-color: rgba(255, 255, 255, 0.724);
  padding: 1%;
  font-size: 3rem;
  z-index: 1;
  font-family: 'Rakkas', cursive;
  text-transform: uppercase;
  color: #000000;
  border-radius:0px 0px 8px;
  -webkit-text-stroke: 2px black;
}
.mainbody{
  background-color: #000000;
}
.popover {
 display: none;
 }

.popover:target {
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.popover .content {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 0;
height: 0;
color: #fff;
background: #000000c7;
animation: 1s grow ease forwards;
text-align: center;
}
/* gradient border for the popup box */
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.nav_list  {
list-style-type: none;
}

.nav_list a {
text-decoration: none;
font-size: 5rem;
font-family: 'Rakkas', cursive;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 2px white;
color: rgb(0, 0, 0);
}

.nav_list_item {
height: 100%;
overflow: hidden;
}

.nav_list li {
padding: 15px 0;
text-transform: uppercase;
transform: translateY(200px);
opacity: 0;
animation: 2s slideUp ease forwards .5s;
position: relative;
}

.nav_list li::before {
content: '';
position: absolute;
height: 2px;
width: 0px;
left: 0;
bottom: 10px;
background: #ffffff; 
transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
padding: 50px;
opacity: 0;
animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
right: 0;
top: 0;
width: 50px;
height: 50px;
position: absolute;
display: flex;
z-index: 1;
font-size: 30px;
align-items: center;
justify-content: center;
background-color:#00000000;
color: #fff;
content: "x";
cursor: pointer;
opacity: 0; 
animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
100% {
  height: 90%;
  width: 90%;
}
}

@keyframes fadeIn {
100% {
opacity: 1;
}
}

@keyframes slideUp {
100% {
  transform: translateY(0);
  opacity: 1;
}
}

li{
    list-style-type: none;

  }

.title{
  font-family: 'Fredericka the Great', cursive; 
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: .80rem;
  padding:1%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ededed;
  
  }

  
a:visited, a:link, a:active
{
    text-decoration: none;
    color: #ffffff;
}

/* for education titles */
.edh1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-bottom: 2%;
  font-family: 'Yatra One', cursive;

  

}
/* class for h2 on education page */
.edh2{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(235, 233, 233);
  font-family: 'Yatra One', cursive;
  

}
.edpara {
  font-size: 150%;
  text-align: justify;
  width: 60%;
  word-wrap: break-word;
  padding: 1%;
  font-family: 'Spinnaker', sans-serif
  
}
/* styles for education */
.edbody {
  margin: 0;
  color: rgb(243, 243, 243);
  background: #161515;
  overflow-x: hidden;
}

.edsection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ededed;

}
.salforduni {
  padding: 5%;
  background-image: linear-gradient(to bottom right, rgb(239, 146, 6), rgb(227, 62, 25));

}
.conbody{
  
  background:rgb(30,30,40); 
}


form { max-width:420px; margin:50px auto; }

.feedback {
  color:rgb(208, 208, 208);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:5px solid;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback:focus { border:2px solid skyblue}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:skyblue;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:1.5rem;
  padding: 2%;
  margin-top:-4px;
  font-weight:700;
}
.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
}