/* font links */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Shade&family=Fredericka+the+Great&family=Italiana&family=Lora:wght@500&family=Macondo&family=Racing+Sans+One&family=Rakkas&family=Rancho&family=Spinnaker&family=Viga&family=Yatra+One&display=swap');

/* styles for main page/home page */
.mainbody{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='900' preserveAspectRatio='none' viewBox='0 0 1500 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='1500' height='900' x='0' y='0' fill='rgba(78%2c 135%2c 140%2c 1)'%3e%3c/rect%3e%3cpath d='M1553.2682435050572 497.9379426384449L1357.2634987157373 546.8074142045534 1406.1329702818457 742.8121589938733 1602.1377150711658 693.9426874277648z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1171.0079233293034 288.29740852618295L1019.0386541401451 469.05720005838714 1221.6816751554345 508.4470131279403z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1419.799%2c446.665C1444.648%2c445.934%2c1469.045%2c436.411%2c1481.798%2c415.071C1494.864%2c393.207%2c1493.536%2c366.109%2c1481.284%2c343.778C1468.516%2c320.507%2c1446.337%2c302.585%2c1419.799%2c302.071C1392.447%2c301.541%2c1367.903%2c317.725%2c1354.044%2c341.312C1339.989%2c365.232%2c1336.455%2c395.378%2c1351.145%2c418.914C1365.153%2c441.357%2c1393.354%2c447.443%2c1419.799%2c446.665' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M846.2307820614785 623.1560695220601L1153.1106082368879 639.532240742483 1035.3453034346317 398.0775839016605z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M669.1546172182614 824.1765790231264L771.2243108852281 926.246272690093 771.224310885228 722.1068853561596z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M89.934%2c83.275C114.818%2c83.745%2c137.652%2c69.303%2c149.734%2c47.545C161.479%2c26.393%2c158.465%2c1.359%2c147.356%2c-20.134C135.076%2c-43.892%2c116.667%2c-67.372%2c89.934%2c-68.156C62.229%2c-68.968%2c38.633%2c-48.537%2c26.368%2c-23.681C15.389%2c-1.43%2c21.246%2c24.028%2c33.922%2c45.357C46.268%2c66.13%2c65.773%2c82.819%2c89.934%2c83.275' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M186.27126834975442 264.8597164032961L184.0176647335165 393.96858110850684 378.80776359945156 332.79455418025833z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M41.79484509885128 877.3553998432936L197.2240963395474 764.4294387208979 84.29813521715162 609.0001874802017-71.1311160235445 721.9261486025976z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1500' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");}
.name{
  font-size: 10rem;
  text-align: center;
  font-family: 'Lora', serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  line-break: auto;
  text-transform: uppercase;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  letter-spacing: 1rem;
}
.name:hover{
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.158);
}


.name::after{
  content: 'nomad';
  display: block;
  font-size: 4rem;
  text-align: right;
}
.name::before{
  content: 'digital';
  display: block;
  font-size: 4rem;
  text-align: left;
}
hr{
  background-color: black;
  height: .2rem;
  border: none;
  width: 100%;
}
.sociallinks{
  /* text-align: justify; */
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  word-spacing: 5rem;
  padding-left: 20%;  
  -webkit-text-stroke: 2px;

}
#linkedin{
  color: #2202d7a1;
}
#linkedin:hover{
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.557);
}
#github{
  color: #3bb73fc6;
}
#github:hover{
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.557);
}
#codepen{
  color: #fcd200c1;
}
#codepen:hover{
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.557);

}
/* link styling for like that takes to home page */
.backlink{
  margin-top: 0 auto;
  font-size: 4rem;
  z-index: 1;
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  color:black;
  text-align: center;
  word-spacing: 2rem;
  margin-bottom: 5%;
  background-color: #00000022;
}

.backlink a:hover{
  color: black;
}
/* animation for the menu */
.popover {
 display: none;
 }

.popover:target {
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.popover .content {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 0;
height: 0;
color: #fff;
background: #000000ad;
animation: 1s grow ease forwards;
text-align: center;
}
/* gradient border for the popup box */
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(350deg, whitesmoke,blue);
}
/* -stylings for the meanu links 
- code inspired from freefrontend.com*/
.nav_list  {
list-style-type: none;
}

.nav_list a {
text-decoration: none;
font-size: 4rem;
font-family: 'PT Sans Narrow', sans-serif;
letter-spacing: 2rem;
color: rgb(255, 255, 255);
}

.nav_list_item {
height: 100%;
overflow: hidden;
}

.nav_list li {
padding: 15px 0;
text-transform: uppercase;
transform: translateY(200px);
opacity: 0;
animation: 2s slideUp ease forwards .5s;
position: relative;
}

.nav_list li::before {
content: '';
position: absolute;
height: 2px;
width: 0px;
left: 0;
bottom: 10px;
background: #ffffff; 
transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
padding: 50px;
opacity: 0;
animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
right: 0;
top: 0;
width: 50px;
height: 50px;
position: absolute;
display: flex;
z-index: 1;
font-size: 30px;
align-items: center;
justify-content: center;
background-color:#00000000;
color: #fff;
content: "x";
cursor: pointer;
opacity: 0; 
animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
100% {
  height: 90%;
  width: 90%;
}
}

@keyframes fadeIn {
100% {
opacity: 1;
}
}

@keyframes slideUp {
100% {
  transform: translateY(0);
  opacity: 1;
}
}

/* global style for titles */
.title{
  font-family: 'Rakkas', cursive;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 2rem;
  padding:1%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  
  }

  /* global style for links */
a:visited, a:link, a:active
{
    text-decoration: none;
    color: floralwhite;
}


/* styles for education */
.edbody {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1250' preserveAspectRatio='none' viewBox='0 0 1440 1250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='1250' x='0' y='0' fill='rgba(78%2c 135%2c 140%2c 1)'%3e%3c/rect%3e%3cpath d='M17 1250L1267 0L2440 0L1190 1250z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M1425 1250L175 0L-549.5 0L700.5 1250z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3cpath d='M740.2511193621264 1250L1440 550.2511193621264L1440 1250z' fill='url(%23SvgjsLinearGradient1010)'%3e%3c/path%3e%3cpath d='M0 1250L699.7488806378736 1250L 0 550.2511193621264z' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='1250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1010'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1011'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
  /* for education titles */
.edh1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: 'Spinnaker', sans-serif;
  font-weight: 600;
}
.edh1:hover{
  text-decoration: underline;
}
.proh1{
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: 'Spinnaker', sans-serif;
  font-weight: 600;
}
/* class for h2 on education page */
.edh2{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: 'Spinnaker', sans-serif;
  font-weight: 400;
}
.edh2:hover{
  text-decoration: underline;
}
.edpara {
  font-size: 150%;
  text-align: justify;
  width: 60%;
  word-wrap: break-word;
  padding: 1%;
  font-family: 'Spinnaker', sans-serif;
  font-weight: 200;
  backdrop-filter: blur(1000px);
  
}

.edsection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 1.5rem;
}
.salforduni {

}
/* styles for contact page */
.conbody{

margin: auto;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1260' preserveAspectRatio='none' viewBox='0 0 1440 1260'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='1260' x='0' y='0' fill='rgba(78%2c 135%2c 140%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c689.851C128.311%2c688.216%2c253.482%2c626.293%2c344.115%2c535.453C426.892%2c452.488%2c440.954%2c328.714%2c472.837%2c215.937C499.999%2c119.86%2c520.318%2c25.51%2c516.488%2c-74.26C512.281%2c-183.844%2c518.495%2c-304.259%2c449.593%2c-389.575C380.169%2c-475.538%2c255.931%2c-481.528%2c153.704%2c-523.467C37.649%2c-571.079%2c-67.457%2c-670.417%2c-191.633%2c-652.641C-318.748%2c-634.444%2c-431.349%2c-540.923%2c-496.669%2c-430.367C-558.217%2c-326.196%2c-515.423%2c-196.344%2c-532.036%2c-76.495C-548.535%2c42.532%2c-627.768%2c155.935%2c-593.921%2c271.235C-558.82%2c390.805%2c-451.656%2c472.503%2c-349.798%2c544.296C-244.437%2c618.558%2c-128.892%2c691.493%2c0%2c689.851' fill='%233e6c70'%3e%3c/path%3e%3cpath d='M1440 1924.665C1572.875 1927.163 1713.531 1931.4360000000001 1825.099 1859.225 1936.538 1787.097 2005.8809999999999 1662.676 2042.0929999999998 1534.967 2075.406 1417.484 2049.052 1295.067 2018.5990000000002 1176.81 1990.876 1069.155 1946.08 968.562 1874.362 883.623 1801.958 797.8720000000001 1713.205 727.306 1607.416 689.832 1497.78 650.995 1378.861 639.164 1266.232 668.202 1151.413 697.805 1058.367 773.383 971.2719999999999 853.845 874.938 942.8430000000001 737.487 1027.548 735.318 1158.682 733.114 1291.903 903.366 1358.622 960.935 1478.782 1016.8530000000001 1595.497 969.361 1756.745 1064.096 1844.9180000000001 1159.797 1933.99 1309.285 1922.208 1440 1924.665' fill='%2360a0a6'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='1260' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


form { max-width:420px; margin:50px auto; }

.feedback {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.606);
  border:2px solid;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  padding: 5%;
}

.feedback:focus:hover { border:2px solid rgb(255, 255, 255)}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}


[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:rgba(0, 0, 0, 0.432);
  border-radius:5px;
  border: 2px solid black;
  cursor:pointer;
  color:white;
  font-size:1.5rem;
  padding: 2%;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover{
  border: 2px solid white;
}
/* styles for work page */
.worbody{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1260' preserveAspectRatio='none' viewBox='0 0 1440 1260'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='1260' x='0' y='0' fill='rgba(78%2c 135%2c 140%2c 1)'%3e%3c/rect%3e%3cpath d='M315 286.36C300.79 286.36 295.11 297.14 291.84 315C263.61 468.96 242.56 487.47 252 630C254.14 662.26 285.91 664.57 315 664.57C334.91 664.57 346.68 653.59 350 630C371.29 478.8 379.04 460.54 364.22 315C361.54 288.72 336.98 286.36 315 286.36' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M945 263.12C890.19 263.12 837.44 287.84 837.44 315C837.44 342.8 889.98 373.03 945 373.03C1010.58 373.03 1078.64 342.7 1078.64 315C1078.64 287.74 1010.79 263.12 945 263.12' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M27.56 945C27.56 919.99 2.49 922.2 0 893.72C-11.29 764.7 0 761.86 0 630C0 472.5 0 472.5 0 315C0 157.5 -78.75 78.75 0 0C78.75 -78.75 157.5 0 315 0C472.5 0 472.5 0 630 0C787.5 0 787.5 0 945 0C1102.5 0 1102.5 0 1260 0C1417.5 0 1496.25 -78.75 1575 0C1653.75 78.75 1575 157.5 1575 315C1575 472.5 1575 472.5 1575 630C1575 787.5 1575 787.5 1575 945C1575 1062.6 1607.75 1078.51 1575 1180.2C1557.03 1236.01 1532.89 1244.97 1473.56 1260C1375.39 1284.87 1366.78 1260 1260 1260C1102.5 1260 1102.5 1260 945 1260C787.5 1260 787.5 1260 630 1260C472.5 1260 472.5 1260 315 1260C157.5 1260 84.32 1333.18 0 1260C-73.18 1196.48 -11.65 1119.79 0 986.6C2.13 962.29 27.56 966.43 27.56 945' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M945 874.13C907.47 874.13 874.13 904.35 874.13 945C874.13 1005.72 906.08 1076.86 945 1076.86C986.51 1076.86 1035 1004.02 1035 945C1035 902.65 987.9 874.13 945 874.13' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M315 143.18C229.72 143.18 223.74 217.41 176.03 315C104.74 460.82 142.8 482.12 77 630C54.79 679.91 22.34 710.58 0 710.58C-16.16 710.58 0 670.29 0 630C0 472.5 0 472.5 0 315C0 157.5 -78.75 78.75 0 0C78.75 -78.75 157.5 0 315 0C472.5 0 472.5 0 630 0C787.5 0 787.5 0 945 0C1102.5 0 1102.5 0 1260 0C1417.5 0 1456.88 -39.38 1575 0C1614.38 13.13 1611.12 74.74 1575 105C1453.62 206.7 1423.1 246.97 1260 263.92C1108.1 279.71 1097.71 157.78 945 170.47C790.39 183.32 645.37 239.34 645.37 315C645.37 392.43 789.25 461.67 945 476.64C1096.56 491.2 1124.37 337.13 1260 374.06C1405.96 413.81 1382 504.24 1508.18 630C1539.5 661.22 1566.44 647.68 1575 688.03C1599.85 805.18 1575 816.51 1575 945C1575 1010.1 1610.64 1027.41 1575 1075.2C1493.18 1184.91 1464.3 1187.12 1340.08 1260C1306.8 1279.52 1300.04 1260 1260 1260C1102.5 1260 967.62 1331.24 945 1260C917.62 1173.74 1160 1085.99 1160 945C1160 843.83 1047.49 775.69 945 775.69C855.33 775.69 775.69 847.89 775.69 945C775.69 1090.04 983.73 1176.26 945 1260C910.89 1333.76 787.5 1260 630 1260C472.5 1260 472.5 1260 315 1260C157.5 1260 112.8 1304.7 0 1260C-44.7 1242.29 -22.28 1190.88 0 1135.19C40.72 1033.38 52.99 1031.81 126 945C210.49 844.52 220.74 853.05 315 760.61C381.35 695.55 396.45 706.6 447.22 630C544.11 483.8 643.98 438.99 610.31 315C577.87 195.58 446.86 143.18 315 143.18' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 187.03C15.81 187.03 60.22 250.08 60.22 315C60.22 389.9 15.61 466.67 0 466.67C-14.5 466.67 0 390.84 0 315C0 251.01 -14.3 187.03 0 187.03' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M945 77.82C827.53 66.77 716.9 19.99 716.9 0C716.9 -18.92 830.95 0 945 0C1102.5 0 1102.5 0 1260 0C1302.95 0 1345.91 -11.81 1345.91 0C1345.91 13.73 1308.15 41.73 1260 51.08C1107.7 80.64 1099.08 92.31 945 77.82' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M544.44 630C600.08 562.76 560.54 484.63 630 476C760.82 459.76 784.03 543.43 945 580.26C1099.03 615.51 1104.44 596.32 1260 620.16C1266.72 621.19 1269.55 623.63 1269.55 630C1269.55 654.8 1283.5 679.08 1260 682.5C1121.23 702.7 1077.33 617.64 945 677.25C785.95 748.89 792.54 799.3 677.25 945C635.04 998.35 681.58 1035.66 630 1075.34C500.46 1174.99 425.11 1259.04 315 1223.65C222.33 1193.87 224.44 1073.16 224.44 945C224.44 889.66 269.92 901.03 315 856.65C429.92 743.53 442.58 753.09 544.44 630' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1403.18 945C1403.18 925.99 1507.78 895.26 1575 895.26C1593.69 895.26 1575 920.13 1575 945C1575 957.6 1585.89 970.2 1575 970.2C1499.98 970.2 1403.18 963.46 1403.18 945' stroke='rgba(21%2c 49%2c 79%2c 0.64)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='1260' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
.worh2{
  color: honeydew;
  font-family: 'Dosis', sans-serif;  
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}
.worh3{
  color: whitesmoke;
  font-family: 'Dosis', sans-serif;  
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}
.pbidb{
margin-left: 20%;
padding: 5%;
}








